<h1>{{ product.title }}</h1>
<p>{{ product.description }}</p>

<img src="{{ product.featured_image | size: 400 }}" />
<span>{{ product.price }}</span>

{% schema %}
  {
    "name": "Custom Product",
    "settings": [],
    "presets": [
      {
        "name": "Custom Product"
      }
    ]
  }
{% endschema %}